In [1]:
import pandas as pd

groceries=pd.Series(data=['hello',123,56.9,'yes'],index=['egg','apple',78,69.9])
print(groceries)

egg      hello
apple      123
78        56.9
69.9       yes
dtype: object

In [2]:
print('groceries has shape ',groceries.shape)
print('groceries has dimentions ',groceries.ndim)
print('groceries has total ',groceries.size,' elements')

groceries has shape  (4,)
groceries has dimentions  1
groceries has total  4  elements

In [3]:
# We check whether bananas is a food item (an index) in Groceries
x = 'bananas' in groceries

# We check whether bread is a food item (an index) in Groceries
y = 'egg' in groceries

# We print the results
print('Is bananas an index label in Groceries:', x)
print('Is bread an index label in Groceries:', y)

Is bananas an index label in Groceries: False
Is bread an index label in Groceries: True

 Create a Pandas Series that contains the distance of some planets from the Sun.
 Use the name of the planets as the index to your Pandas Series, and the distance
 from the Sun as your data. The distance from the Sun is in units of 10^6 km

In [4]:
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

Create a Pandas Series using the above data, with the name of the planets as
the index and the distance from the Sun as your data.

In [5]:
dist_planets = pd.Series(data=distance_from_sun,index=planets)

Calculate the number of minutes it takes sunlight to reach each planet. You can
do this by dividing the distance from the Sun for each planet by the speed of light.
Since in the data above the distance from the Sun is in units of 10^6 km, you can
use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute

In [6]:
time_light= dist_planets/18

Use Boolean indexing to select only those planets for which sunlight takes less
than 40 minutes to reach them.

In [7]:
close_planets = time_light[time_light<40]
print(close_planets)

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

Creating dataframe

In [8]:
# We create a dictionary of Pandas Series without indexes
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}
# We create a DataFrame
df = pd.DataFrame(data)
print(df)
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}
shopping_carts = pd.DataFrame(items)
print(shopping_carts)

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45
           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [9]:
# We print some information about shopping_carts
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

In [13]:
bob_cart= pd.DataFrame(items,columns=['Bob'])
bob_cart

       Bob
bike   245
pants   25
watch   55

In [12]:
# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

# We display sel_shopping_cart
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40